.main-nav {
    margin-top: $tny;

    nav {
        float: right;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: $tny $sm;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $blue;
        }
    }

    .logo {
        background: url('./img/logo-01.svg') no-repeat;
        width: $xl;
        height: $med;
    }
}