<header class="main-nav">
    <div class="container">
        <div class="row">
            <div class="logo col-lg-2">
                Brian Brennan
            </div>
            <nav class="">
                <ul>
                    <li>
                        <a [routerLink]="['/']">Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about']">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>