.home-page {
    .hero h3 {
        font-size: $lg;
        font-family: $roboto;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 0;
    }

    h2 {
        font-size: $regFontSize;
        color: $black;
        font-family: $roboto;
        font-weight: 400;
        margin-left: $tny;
    }
}